section.watch-online
  .watch-online__wrapper
    h1.watch-online__header
      span watch
      span your
      span.color-yellow favorite
      span animal
      span online
    button.button.button-primary.watch-online__button watch online