form(action="").form-feed

  .form-feed__amount Amount
  .form-feed__radio-line

    label
      input(type="radio" name="feedSumma").form-feed__radio-input
      .form-feed__pick-area
        svg.form-feed__pick-area-icon
          use(href="#pick-area-icon")
      .form-feed__summa 5000
        svg
          use(href="#dollar-icon")

    label
      input(type="radio" name="feedSumma").form-feed__radio-input
      .form-feed__pick-area
        svg
          use(href="#pick-area-icon")
      .form-feed__summa 2000
        svg
          use(href="#dollar-icon")

    label
      input(type="radio" name="feedSumma" id="feedSumma1000").form-feed__radio-input
      .form-feed__pick-area
        svg
          use(href="#pick-area-icon")
      .form-feed__summa 1000
        svg
          use(href="#dollar-icon")

    label
      input(type="radio" name="feedSumma").form-feed__radio-input
      .form-feed__pick-area
        svg
          use(href="#pick-area-icon")
      .form-feed__summa 500
        svg
          use(href="#dollar-icon")

    label
      input(type="radio" name="feedSumma").form-feed__radio-input
      .form-feed__pick-area
        svg
          use(href="#pick-area-icon")
      .form-feed__summa 250
        svg
          use(href="#dollar-icon")

    label
      input(type="radio" name="feedSumma").form-feed__radio-input
      .form-feed__pick-area
        svg
          use(href="#pick-area-icon")
      .form-feed__summa 100
        svg
          use(href="#dollar-icon")

    label
      input(type="radio" name="feedSumma").form-feed__radio-input
      .form-feed__pick-area
        svg
          use(href="#pick-area-icon")
      .form-feed__summa 50
        svg
          use(href="#dollar-icon")

    label
      input(type="radio" name="feedSumma").form-feed__radio-input
      .form-feed__pick-area
        svg
          use(href="#pick-area-icon")
      .form-feed__summa 25
        svg
          use(href="#dollar-icon")


  .form-feed__input-container
    input(type="number" name="summa" min="1" max="9999" maxlength="4" placeholder="Another amount" required).form-feed__input
    svg
      use(href="#dollar-icon")

  .form-feed__radio-container
    label.form-feed__checkbox
      input(type="radio" name='period' id="feedMonthly")
      span.icon
      span.name Monthly

    label.form-feed__checkbox
      input(type="radio" name='period' id="feedOnce")
      span.icon
      span.name Once