extends ../../templates/index

include ../../blocks/header/header
include ../../blocks/footer/footer

block variables
    - var title = 'ds-webpack5-starter'
    - var pageClass = 'index-page'

block content
  +header({
    mainLink: 'active'
  })
  include ../../blocks/watch-online/watch-online
  include ../../blocks/backstage/backstage
  include ../../blocks/pets/pets
  include ../../blocks/instruction/instruction
  include ../../blocks/testimonials/testimonials
  +footer({
    mainLink: 'active'
  })

