.pet-card {
  margin: 0.625rem 0.9375rem;
  width: 22.875rem;
  height: 26.625rem;
  padding: 0.0625rem;
  background-image: url('/images/pet-card-frame.svg');
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .pet-card__image {
      img {
        transform-origin: 50% 50%;
        transform: scale(1.1);
      }
    }

    .pet-card__content {
      background-color: rgba(0,0,0,0.5);
      transform: translateY(-100%);
    }

    .pet-card__name, .pet-card__region {
      color: #fff;
    }
  }
}

.pet-card__image {
  width:  22.75rem;
  height: 22.75rem;
  border-top-left-radius: 0.2813rem;
  border-top-right-radius: 0.2813rem;
  overflow: hidden;
  img {
    display: block;
    width:  22.75rem;
    height: 22.75rem;
    border-top-left-radius: 0.2813rem;
    border-top-right-radius: 0.2813rem;
    transition: transform 0.3s;
  }
}

.pet-card__content {
  position: relative;
  height: 3.75rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  background-repeat: no-repeat;
  transform: translateY(0);
  transition: transform 0.3s, background-color 0.3s;
  z-index: 1;

  &.banana-bamboo {
    background-image: url('/images/banana-bamboo_icon.svg');
    background-position: calc(100% - 0.625rem) 0.6875rem;
  }

  &.meet-fish {
    background-image: url('/images/meet-fish_icon.svg');
    background-position: calc(100% - 0.5rem) 0.5625rem;
  }
}

.pet-card__name {
  font-family: $font-main-medium;
  font-size: 1rem;
  line-height: 1.4;
  color: #000;
  text-transform: uppercase;
  transition: color 0.3s;
}

.pet-card__region {
  font-family: $font-main-regular;
  font-size: 0.9375rem;
  line-height: 1.2;
  color: #000;
  transition: color 0.3s;
}