.pets {
  display: flex;
  justify-content: center;
  background-image: url('/images/pets-decor-left.png'), url('/images/pets-decor-right.png');
  background-size: 18.25rem auto, 23rem auto;
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 6.0625rem;
  padding-bottom: 6.25rem;
}

.pets__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pets__slider {
  display: flex;
  flex-wrap: wrap;
  width: 74.5rem;
  margin-top: -0.625rem;
  margin-left: -0.9375rem;
  margin-right: -1.0625rem;
}

.pets__button {
  margin-top: 4.375rem;
}