form.form-subscribe
  .form-subscribe__title Subscribe to our news
  .form-subscribe__row
    input(type="email" placeholder='Enter your email' required).form-subscribe__input
    button(type="button").button.form-subscribe__submit Submit
  .form-subscribe__popup Thanks for subscribing