extends ../../templates/index

block variables
    - var title = 'ds-webpack5-starter'
    - var pageClass = 'index-page'

block content
  include ../../blocks/header/header
  include ../../blocks/watch-online/watch-online
  include ../../blocks/backstage/backstage
  include ../../blocks/pets/pets
  include ../../blocks/instruction/instruction
  include ../../blocks/testimonials/testimonials
  include ../../blocks/footer/footer

