form.form-subscribe
  .form-subscribe__title Subscribe to our news
  .form-subscribe__row
    input(type="text" placeholder='Enter your email').form-subscribe__input
    button.button.form-subscribe__submit Submit