.pet-photo {
  height: 24.375rem;
  background-color: #1C2023;
  background-image: url('/images/pet-background.jpg');
  background-size: auto 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}