.form-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

.form-feed__amount {
  margin-right: auto;
  font-family: $font-main-regular;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #000000;
}

.form-feed__radio-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.0625rem;
  height: 1.6875rem;
  padding-top: 0.5rem;
  padding-left: 0.6875rem;
  padding-right: 0.6875rem;
  background-color: #404950;
  border-radius: 2px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 50%;
    width: calc(100% - 1.5rem);
    height: 0.125rem;
    background-color: #72828E;
    transform: translateX(-50%)
  }

  label {
    position: relative;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #FFEE2E;
    z-index: 2;
  }
}

.form-feed__radio-input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &:checked + .form-feed__pick-area {
    opacity: 1;
  }

  &:checked + * + .form-feed__summa {
    color: #FE9013;
  }

}

.form-feed__pick-area {
  position: absolute;
  top: -0.9375rem;
  right: -0.9375rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.form-feed__summa {
  position: absolute;
  left: 0;
  top: 1.75rem;
  font-family: $font-main-medium;
  font-size: 1.625rem;
  line-height: 1.4;
  color: #333B41;
  transition: color 0.3s;
}

.form-feed__input-container {
  position: relative;
  margin-top: 6rem;
  width: 16.75rem;
  height: 3.375rem;

  svg {
    position: absolute;
    top: calc(50% - 0.625rem);
    right: 0.625rem;
    display: block;
    width: 0.625rem;
    height: 1.25rem;
  }
}

.form-feed__input {
  width: 16.75rem;
  height: 3.375rem;
  background-color: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
  padding-left: 0.5625rem;
  padding-right: 1.5rem;
  font-family: $font-main-regular;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #929699;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form-feed__radio-container {
  display: flex;
  margin-top: 1.5625rem;
}

.form-feed__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .icon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #F9804B;
  }

  .name {
    margin-left: 0.625rem;
    font-family: $font-main-regular;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #333B41;
  }

  input:checked + .icon {
    border: 1px solid #4B9200;
    background-color: #4B9200;
  }

  input:checked + * + .name {
    color: #333B41;
  }

  &:nth-child(n + 2) {
    margin-left: 3.125rem;
  }
}