ul.social-links
  li.social-links__item

    a(href="" target="_blank").social-links__link
      .social-links__icon
        svg
          use(href="#facebook-icon")
      .social-links__name Facebook

  li.social-links__item

    a(href="" target="_blank").social-links__link
      .social-links__icon
        svg
          use(href="#twitter-icon")
      .social-links__name Twitter

  li.social-links__item

    a(href="" target="_blank").social-links__link
      .social-links__icon
        svg
          use(href="#instagram-icon")
      .social-links__name Instagram

  li.social-links__item

    a(href="" target="_blank").social-links__link
      .social-links__icon
        svg
          use(href="#youtube-icon")
      .social-links__name YouTube

