mixin header(props)
  header.header
    .header__wrapper
      a.header__logo-link(href="./")
        h1.header__title PetStory online
        svg
          use(href="#leaf-icon")
      nav.header__nav
        ul.header-nav__list
          li.header-nav__item
            a(href="./" class=props.mainLink).header-nav__link About
          li.header-nav__item
            a(href="").header-nav__link Map
          li.header-nav__item
            a(href="").header-nav__link Zoos
          li.header-nav__item
            a(href="./donate.html" class=props.donateLink).header-nav__link Donate
          li.header-nav__item
            a(href="").header-nav__link Contact us
      a(href="https://www.figma.com/file/ypzT9idgAILaSRVRmDAJxn/online-zoo-3-weeks?node-id=0%3A1" target="_blank").header__design-link Designed by ©
