mixin footer(props)
  footer.footer
    .footer__wrapper
      .footer__part-top
        a(href="./").footer__logo-link
          span.footer__logo-title PetStory online
          svg
            use(href="#leaf-icon")

        include ../../components/form-subscribe/form-subscribe

      .footer__part-middle
        a(href="./donate.html").button.button-primary.footer__donate-button
          span donate for volunteers

      .footer__part-bottom

        include ../../components/social-links/social-links

        nav.footer-nav
          ul.footer-nav__list
            li.footer-nav__item
              a(href="./" class=props.mainLink).footer-nav__link About
            li.footer-nav__item
              a(href="").footer-nav__link Map
            li.footer-nav__item
              a(href="").footer-nav__link Zoos
            li.footer-nav__item
              a(href="").footer-nav__link Contact us

        .footer__copyright
          a(href="").footer__copyright-link Designed by Alisa Samborskaya
          a(href="https://rs.school" target="_blank").footer__copyright-link ©RSSchool & ©Yem Digital 2021

