.pet-photo {
  height: 24.125rem;
  background-color: #1C2023;
  background-image: url('/images/pet-background.jpg');
  background-size: 100rem auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}