.instruction {
  display: flex;
  justify-content: center;
  padding-top: 4.3125rem;
  padding-bottom: 6.25rem;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.instruction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 72.5rem;
  padding-top: 2.5625rem;
  padding-bottom: 3.6875rem;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.instruction__title-h2 {
  margin-bottom: 2rem;
  color: #FE9013;
}

.instruction__title-h3 {
  margin-top: 3.75rem;
}

.instruction__subtitle {
  margin-bottom: 2.5rem;
  width: 100%;
  padding-left: 6.1875rem;
  padding-right: 6.1875rem;
}

.instruction__attention {
  margin-bottom: 0.625rem;
  width: 100%;
  padding-left: 6.1875rem;
  padding-right: 1rem;
  font-family: $font-main-medium;
  font-size: 1rem;
  line-height: 1.3;
  color: #333B41;
}

.instruction__text-normal {
  width: 100%;
  padding-left: 6.1875rem;
  padding-right: 10.1875rem;
}


.instruction__text-normal {
  a {
    position: relative;
    display: inline-block;
    color: #333B41;
    transition: color 0.3s;

    &:hover {
      color: #FE9013;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 1px;
      background-color: #FE9013;
    }
  }
}


.instruction__container {
  display: flex;
  margin-top: 2.5rem;
}

.instruction-step {
  width: 10.5rem;
  // margin-left: 4.0625rem;
  // margin-right: 4.0625rem;
}

.instruction-step__image {
  width: 10.5rem;
  height: 10.5rem;

  img {
    display: block;
    width: 10.5rem;
    height: 10.5rem;
  }
}

.instruction-step__content {
  margin-top: 1.875rem;
  height: 2.875rem;
}

.instruction__button {
  margin-top: 3.75rem;
}

.instruction-step-arrow {
  margin-top: 3.75rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  width: 4.4375rem;
  height: 2.3125rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}