section.instruction
  .instruction__wrapper
    h2.title-h2.instruction__title-h2 Pick and feed a friend
    h4.subtitle.instruction__subtitle We know the animals bring you joy, and in these extraordinary times, we’re glad.
    p.instruction__attention During a time when the COVID-19 epidemic is touching all of our lives, we’re proud and glad that people around the world find joy in PetStory.
    p.text-normal.instruction__text-normal Even though the zoo has reopened, we need you now more than ever to help us deal with these problems. Please consider a&nbsp;gift to our <a href="">Emergency Support Fund</a> .
    h3.title-h3.instruction__title-h3 How it works
    .instruction__container

      .instruction-step
        .instruction-step__image
          img(src="./images/instruction-step-image-1.svg", alt="")
        .instruction-step__content
          p.text-body Pay with card

      .instruction-step-arrow
        svg
          use(href="#instruction-arrow")

      .instruction-step
        .instruction-step__image
          img(src="./images/instruction-step-image-2.svg", alt="")
        .instruction-step__content
          p.text-body Payment goes to the zoo

      .instruction-step-arrow
        svg
          use(href="#instruction-arrow")

      .instruction-step
        .instruction-step__image
          img(src="./images/instruction-step-image-3.svg", alt="")
        .instruction-step__content
          p.text-body Your favourite animal gets delicious dish

    .button.button.button-primary.instruction__button Feed a friend now


