header.header
  .header__wrapper
    a.header__logo-link(href="./")
      img.header__logo-image(src="./images/site-logo.png", alt="")
    nav.header__nav
      ul.header-nav__list
        li.header-nav__item
          a(href="").header-nav__link.active About
        li.header-nav__item
          a(href="").header-nav__link Map
        li.header-nav__item
          a(href="").header-nav__link Zoos
        li.header-nav__item
          a(href="").header-nav__link Donate
        li.header-nav__item
          a(href="").header-nav__link Contact us
    a(href="Designed by ©" target="_blank").header__design-link Designed by ©
