.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.button-primary {
  width: 18.625rem;
  height: 3.375rem;
  border-radius: 1.5625rem;
  background-color: #F98240;
  font-family: $font-main-medium;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;

  &:active {
    background-color: #fff;
  }
}

.button-round-prev, .button-round-next {
  margin-bottom: 0.875rem;
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 50%;
  background: linear-gradient(to right, #F9804B, #FE9013);

  img {
    display: block;
    width: 1rem;
    height: 0.5rem;
  }
}

.button-round-prev {
  margin-right: 1.1875rem;
}

.button-round-next {
  margin-left: 1.1875rem;

  img {
    transform: rotateY(180deg)
  }
}